$base-font-color: white;
$base-li-background-color: rgb(173, 185, 192);
$body-background-color: white;
$base-headers-color: rgb(61, 61, 61);

h1 {
    color: $base-headers-color;
    font-size: 25pt;
    font-weight: 500;
}

h2 {
    color: $base-headers-color;
    font-size: 25pt;
    font-weight: 500;
    margin: 2px;
}

h3 {
    color: $base-headers-color;
    font-size: 16pt;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    background-color: $body-background-color;
}


@media (min-width: 700px) {
    main {
        margin-left: auto;
        margin-right: auto;
        width: 65vw;
        min-width: 650px;
    }
}


@media (max-width: 700px) {
    main {
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
    }
}


.reload-geolocation-button {
    background-color: hsl(201, 15, 82);
    color: hsl(201, 7, 53);
    text-align: center;
    border-width: 0px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

header {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    h1 {
        position: absolute;
        left: 0;
    }
}

.cur-weather {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    h2 {
        font-size: 30pt;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: center;
        justify-content: space-between;

        img {
            height: 120px;
        }

        span {
            font-size: 5vw;
            font-weight: bold;
            color:  hsl(195, 9, 45);;
        }
    }

    .cur-weather-metrics {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 700px) {
    .cur-weather {
        .flex-row { 
            span {
                font-size: 10vw;
            }
        }
    }

    header {
        position: static;
        justify-content: space-between;

        h1 {
            position: static;
        }
    }
}

@media (min-width: 700px) {
    .reload-geolocation-button {
        span {
            display: block;
        }
        img {
            display: none;
        }
    }
}


@media (max-width: 700px) {
    .reload-geolocation-button {
        span {
            display: none;
        }
        img {
            height: 30px;
            margin-top: 2px;
            display: block;
        }
    }
}

.circle-button {
    background-color: hsl(194, 10, 48);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    text-align: center;
    vertical-align: middle;
    outline: none;
    border-width: 0px;
}

.favorites {
    padding: 0px;
    margin: 0px;    
}

ul.weather {
    list-style: none;
    padding: 0px;
    margin: 0px;

    li {
        background-color: $base-li-background-color;
        margin: 5px 0px;
        padding: 4px 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        align-items: center;

        span.value {
            text-align: right;
        }

        span.name {
            font-weight: bold;
        }
    }
}

ul.none-style {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.city-card {
    margin: 15px 0px;
}

.header-weather {
    display: grid;
    flex-direction: row;
    grid-template-rows: auto;
    grid-template-columns: auto auto 30% 20%;
    align-items: center;

    img {
        height: 40px;
        margin-left: 5px;
    }

    button {
        justify-self: right;
    }

    span {
        justify-self: right;
        margin-right: 5px;

        font-size: 22pt;
        font-weight: bold;
    }

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.new-city {
    display: flex;
    flex-direction: row;

    input[type=text] {
        border: none;
        box-sizing: border-box;
        padding: 0px 10px;
        width: 20vw;
    
        &:focus {
            outline: none;
        }
    }
}


@media (max-width: 700px) {
    .header-fav {
        display: block;
    }

    .new-city {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    
        input[type=text] {
            width: 70vw;
        
            &:focus {
                outline: none;
            }
        }
    }
}

@mixin cols($count) {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .col-item {
        width: (if( $count == 1, 100%, 90%) / #{$count});
    }
}

@for $i from 1 to 3 {
    .flex-cols-#{$i} {
        @include cols($i)
    }
}

@media (max-width: 700px) {
    .flex-cols {
        @include cols(1)
    }
}

@media (min-width: 700px) {
    .flex-cols {
        @include cols(2)
    }
}