h2 {
  color: #3d3d3d;
  font-size: 25pt;
  font-weight: 500;
}

h3 {
  color: #3d3d3d;
  font-size: 16pt;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  background-color: white;
}

@media (min-width: 700px) {
  main {
    margin-left: auto;
    margin-right: auto;
    width: 65vw;
    min-width: 700px;
    max-width: 100vw;
  }
}

@media (max-width: 700px) {
  main {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
  }
}

.reload-geolocation-button {
  background-color: #cad3d8;
  color: #7f8a90;
  text-align: center;
  border-width: 0px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.cur-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cur-weather header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.cur-weather header h2 {
  position: absolute;
  left: 0;
}

.cur-weather h3 {
  font-size: 30pt;
}

.cur-weather .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cur-weather .flex-row img {
  height: 120px;
}

.cur-weather .flex-row span {
  font-size: 55pt;
  font-weight: bold;
  color: #68787d;
}

.cur-weather .cur-weather-metrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 700px) {
  .cur-weather header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .cur-weather header h2 {
    position: static;
  }
}

@media (min-width: 700px) {
  .reload-geolocation-button span {
    display: block;
  }
  .reload-geolocation-button img {
    display: none;
  }
}

@media (max-width: 700px) {
  .reload-geolocation-button span {
    display: none;
  }
  .reload-geolocation-button img {
    height: 30px;
    margin-top: 2px;
    display: block;
  }
}

.circle-button {
  background-color: #6e8187;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  text-align: center;
  vertical-align: middle;
  outline: none;
  border-width: 0px;
}

.favorites {
  padding: 0px;
  margin: 0px;
}

ul.weather {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

ul.weather li {
  background-color: #adb9c0;
  margin: 5px 0px;
  padding: 4px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.weather li span {
  text-align: right;
}

ul.none-style {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.city-card {
  margin: 15px 0px;
}

.header-weather {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: auto auto 30% 20%;
      grid-template-columns: auto auto 30% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-weather img {
  height: 40px;
  margin-left: 5px;
}

.header-weather button {
  -ms-grid-column-align: right;
      justify-self: right;
}

.header-weather span {
  -ms-grid-column-align: right;
      justify-self: right;
  margin-right: 5px;
  font-size: 22pt;
  font-weight: bold;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.new-city input[type=text] {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 10px;
  width: 20vw;
}

.new-city input[type=text]:focus {
  outline: none;
}

@media (max-width: 700px) {
  .header-fav {
    display: block;
  }
  .new-city {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .new-city input[type=text] {
    width: 70vw;
  }
  .new-city input[type=text]:focus {
    outline: none;
  }
}

.flex-cols-1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-cols-1 .col-item {
  width: 100%;
}

.flex-cols-2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-cols-2 .col-item {
  width: 45%;
}

@media (max-width: 700px) {
  .flex-cols {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex-cols .col-item {
    width: 100%;
  }
}

@media (min-width: 700px) {
  .flex-cols {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex-cols .col-item {
    width: 45%;
  }
}
/*# sourceMappingURL=styles.css.map */